/* Body styles */
body {
    font-family: Arial, sans-serif; /* Set font family */
    background-image: linear-gradient(to bottom right, rgb(107, 32, 255), rgb(32, 255, 117)); /* Set background gradient */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Set full height of viewport */
    margin: 0; /* Remove default margin */
}

/* Container styles */
.container {
    text-align: center; /* Center text */
}

/* Quote container styles */
.quote-container {
    background-color: #fff; /* White background */
    border-radius: 5px; /* Rounded corners */
    padding: 20px; /* Padding around content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
    max-width: 400px; /* Maximum width */
    margin: 0 auto; /* Center container horizontally */
}

/* Quote text styles */
.quote-text {
    font-size: 1.5rem; /* Large font size */
    margin-bottom: 10px; /* Bottom margin */
}

/* Quote author styles */
.quote-author {
    font-style: italic; /* Italic text */
    color: #667; /* Light gray color */
}

/* New quote button styles */
.new-quote {
    padding: 8px 16px; /* Padding */
    background-color: rgb(107, 32, 255); /* Purple background */
    color: rgb(32, 255, 117); /* Green text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
}

.new-quote:hover {
    background-color: rgb(32, 255, 117); /* Green background on hover */
    color: rgb(107, 32, 255); /* Purple text color on hover */
    transition: 0.75s; /* Smooth transition */
}

.new-quote:focus {     
    background-color: rgb(32, 255, 117); /* Green background on focus */
    color: rgb(107, 32, 255); /* Purple text color on focus */
}

/* Sticky button styles */
#stickyButton {
    position: fixed; /* Fixed position */
    bottom: 20px; /* 20px from bottom */
    right: 20px; /* 20px from right */
    width: 100px; /* Width */
    height: 40px; /* Height */
    padding: 8px 16px; /* Padding */
    background-color: rgb(107, 32, 255); /* Purple background */
    color: rgb(32, 255, 117); /* Green text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

#stickyButton:hover {
    background-color: rgb(32, 255, 117); /* Green background on hover */
    color: rgb(107, 32, 255); /* Purple text color on hover */
    transition: 0.75s; /* Smooth transition */
}

#stickyButton:focus {     
    background-color: rgb(32, 255, 117); /* Green background on focus */
    color: rgb(107, 32, 255); /* Purple text color on focus */
}
